#root {
  margin: 0 auto;
  text-align: center;
  background-color:rgb(84, 198, 206)
}

.app-Header, .app-Main {
  border-bottom: 1px solid black
}
  
.app-Footer {
  margin-top : 3rem;
}

.drink-card {
  border: 1px solid black;
  margin: 1rem;
  background-color: rgba(229, 235, 217, 0.8);
}


.header-container {
  background-color: rgba(229, 235, 217, 0.8);
  padding:2rem;

}
#footer-text, #drink-title, #header-text {
  font-family: 'Pacifico', cursive;
}


#drink-title{
  font-size: 2rem;
}

#drink-description{
  font-style: italic;
  font-weight:300;
  font-size: 1rem;
}

#footer-text{
  font-size: 1rem;
} 


#header-text {
  font-size: 2rem;
}