#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #c3f1fb;
}

.app-Header, .app-Main {
  border-bottom: 1px solid black
}
  
.app-Footer {
  margin-top : 3rem;
}

.drink-card {
  border-bottom: 1px solid black
}

#footer-text, #drink-title, #header-text {
  font-family: 'Pacifico', cursive;
}


#drink-title{
  font-size: 2rem;
}

#drink-description{
  font-style: italic;
  font-weight:300;
  font-size: 1rem;
}

#footer-text{
  font-size: 1rem;
} 
